<section>
    <h1>The events :</h1>

    <form [formGroup]="searchForm">
        <fieldset>
            <input id="search-bar" formControlName="search" placeholder="Enter the event to search" />
        </fieldset>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Type</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            <tr id="click-event" [routerLink]="['/event', u.name]" *ngFor="let u of listEvents | searchFilter: searchForm.value.search; let i=index">
                <td> {{ u.name }}</td>
                <td> {{ u.date }} </td>
                <td> {{ u.location }} </td>
                <td> {{ u.type }} </td>
                <td> {{ u.capacity }} </td>
            </tr>
        </tbody>
    </table>
</section>
