<section>
    <h1>The users :</h1>

    <form [formGroup]="searchForm">
        <fieldset>
            <input id="search-bar" formControlName="search" placeholder="Enter the user to search" />
        </fieldset>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Firstname</th>
                <th>Mail</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of listUsers | searchFilter: searchForm.value.search">
                <td> {{ u.name }} </td>
                <td> {{ u.firstname }} </td>
                <td> {{ u.mail }} </td>
                <td> {{ u.status }} </td>
            </tr>
        </tbody>
    </table>
</section>
