@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
    --pink80: rgb(230, 18, 124);
    --neon-blue: #04d9ff;
}

html, body{
    padding:0;
    margin:0;
    background-color: var(--pink80);
    color: #fff;
    font-size:16px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

main {
    width: 100vw;
    height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}

nav li:hover {
    color: #04d9ff;
    background-color: #fff;
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px #fff;
    cursor: pointer;
}

ul {
    margin: 0;
    padding-left: 0;
}

header {
    background: linear-gradient(blue, var(--pink80));
}

footer {
    background: linear-gradient(to top, blue, var(--pink80));
}

header, footer {
    height: 80px;
    width: 100vw;
}

header ul ,footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none ;
    padding-top: 15px;
}

header li, footer li {
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--neon-blue);
    box-shadow: 0 0 7px var(--neon-blue), 
    0 0 10px var(--neon-blue), 
    0 0 42px var(--neon-blue);
}

footer li {
    width: 20vw;
    text-align: center;
}

table {
    width:100vw;
}

form {
    padding: 10px 15px;
}

td {
    border: 2px solid var(--pink80);
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff,
    inset 0 0 7px #fff, 
    inset 0 0 10px #fff;
    margin: 0;
    padding: 5px;
}

input {
    background-color: var(--pink80);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    inset 0 0 7px #fff,
    inset 0 0 10px #fff;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

input:hover {
    box-shadow: 0 0 7px var(--neon-blue), 
    0 0 10px var(--neon-blue), 
    0 0 42px var(--neon-blue);
}

fieldset {
    border: none;
    width: 40vw;
    margin: auto;
}

fieldset > * {
    display: flex;
}

form > label:nth-child(n+2) {
    margin-top: 20px;
}

button {
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px #fff;
    color: var(--neon-blue);
    font-size:16px;
    font-family: 'Raleway', sans-serif;
    width: 200px;
}

button:hover {
    color: #fff;
    background-color: var(--neon-blue);
    box-shadow: 0 0 7px var(--neon-blue), 
    0 0 10px var(--neon-blue), 
    0 0 42px var(--neon-blue);
    cursor: pointer;
}

input.ng-valid {
    border-color: greenyellow;
}

input.ng-invalid {
    border-color: red;
}