/* You can add global styles to this file, and also import other style files */

:root {
    --menu: 
}

body > * {
    padding: 10px 15px;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height:calc(100vh var(--menu) - var(--menu)) ;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 15px;
}

body > header, body > footer {
    width: 100vw;
    height: var(--menu);
}